/* menu css */

header {
    background: #4d8cf5 none repeat scroll 0 0;
    color: #fff;
    font-size: 16px;
    padding: 15px 0;
}
.menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: right;
}
.menu ul li {
    display: inline-block;
}
.menu ul li a {
    color: #fff;
    display: block;
    font-weight: 400;
    padding: 8px 25px;
    text-align: center;
    text-transform: capitalize;
}

.logo a {
    border: 2px dashed #fff;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    padding: 5px 10px;
}

footer {
    background: #4d8cf5 none repeat scroll 0 0;
    color: #fff;
    margin-top: 30px;
    padding: 10px 0;
    text-align: center;
}
.copytext p a {
    color: #000;
}
.copytext {
    font-size: 16px;
    font-weight: 700;
}


/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {
	font-family: 'Open Sans', sans-serif;
}
a:hover { text-decoration: none }